<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="EmailSender_full_log" fileName="logs/full_log.log">
            <PatternLayout>
                <Pattern>
                    %sn %d{yyyy/MM/dd HH:mm:ss,SSS} %r [%-6p] [%t] %C{3}.%M(%F:%L) - %m%n
                </Pattern>
            </PatternLayout>
        </File>

        <File name="EmailSender_errors" fileName="logs/email_sender_errors.log">
            <LevelRangeFilter minLevel="error" maxLevel="error"/>
            <PatternLayout>
                <Pattern>
                    %sn %d{yyyy/MM/dd HH:mm:ss,SSS} %r [%-6p] [%t] %C{3}.%M(%F:%L) - %m%n
                </Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="com.mailsender" level="ALL" additivity="false">
            <AppenderRef ref="EmailSender_full_log"/>
            <AppenderRef ref="EmailSender_errors"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>