<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script src="/static/sendMessage.js"></script>
<script src="/static/UIFunctions.js"></script>

<style>
    .content {
        text-align: center;
    }
    .btn {
        margin-top: 2px;
    }
</style>


<body>

<!--<input type="button" value = "send Email" onclick="callToSendMail()">-->
<div class="content">
    <div class="btn">
        <button type="button" id="start" onclick="startInput(true)">Start sending</button>
    </div>
    <div class="btn">
        <button class="btn" type="button" id="stop" onclick="startInput(false)">Stop sending</button>
    </div>
    <div class="btn">
        <button class="btn" type="button" id="send" onclick="callToSendMail()">Send</button>
    </div>
</div>


</body>

<script>
    let stopButton = document.getElementById("stop");
    let startButton = document.getElementById("start");
    let sendButton = document.getElementById("send");
    stopButton.disabled = true;

    let windowHeight = window.outerHeight;
    let windowWidth = window.outerWidth;

    stopButton.setAttribute("style", "height: " + windowHeight * 0.3 + "px; width: " + windowWidth * 0.5 + "px;");
    startButton.setAttribute("style", "height: " + windowHeight * 0.3 + "px; width: " + windowWidth * 0.5 + "px;");
    sendButton.setAttribute("style", "height: " + windowHeight * 0.3 + "px; width: " + windowWidth * 0.5 + "px;");

    startService('status', 'check')
</script>

</html>